/* mulish-300 - latin */
@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/mulish-v10-latin-300.woff2') format('woff2'),
         url('../fonts/mulish-v10-latin-300.woff') format('woff');
         font-display: swap;
  }
  /* mulish-regular - latin */
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/mulish-v10-latin-regular.woff2') format('woff2'),
         url('../fonts/mulish-v10-latin-regular.woff') format('woff');
         font-display: swap;
  }
  /* mulish-600 - latin */
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/mulish-v10-latin-600.woff2') format('woff2'),
         url('../fonts/mulish-v10-latin-600.woff') format('woff');
         font-display: swap;
  }
  /* mulish-700 - latin */
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/mulish-v10-latin-700.woff2') format('woff2'),
         url('../fonts/mulish-v10-latin-700.woff') format('woff');
         font-display: swap;
  }

  body {
    font-family: 'Mulish', sans-serif;
  }

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* header start  */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 135px;
    margin-bottom: 80px;
}

.logo-link:hover {
    opacity: 0.8;
}

.logo-img {

}

.header-list {
    display: flex;
    list-style-type: none;
}

.header-item {
    margin-left: 40px;
    transition: 0.3s;
}

.header-link {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #1F1534;
    opacity: 0.5;
}

.header-link:hover {
    opacity: 1;
    color: pink;
}

.header-link:active {
    color: blue;
}

.active {
    opacity: 1;
    font-weight: bold;
}
/* header end  */

/* intro start  */
.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 113px;
}

.intro-left {

}

.intro-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    width: 427px;
    margin-bottom: 25px;
}

.intro-text {
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
    width: 445px;
    margin-bottom: 45px;
}

.intro-link {
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
    background: #458FF6;
    border-radius: 55px;
    padding: 13px 40px;
    color: #FFFFFF;
    transition: 0.3s;
}

.intro-link:hover {
    background-color: rgb(31, 199, 176);
    color: #FFFFFF;
    font-size: 19px;
}

.intro-right {
    margin-left: 109px;
}
/* intro end  */

/* services start  */
.services {
    margin-bottom: 221px;
    text-align: center;
}

.services-header {
    margin-bottom: 80px;
}

.services-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
    margin-bottom: 26px;
    text-align: center;
}

.services-line {
    background: #000000;
    border-radius: 5px;
    width: 56px;
    height: 2px;
    border: none;
    margin-bottom: 33px;
    margin-left: auto;
    margin-right: auto;
}

.services-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #7D7987;
    width: 952px;
    margin-left: auto;
    margin-right: auto;
}

.service-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #FFFFFF;
    margin-bottom: 69px;
}

.service-item {
    padding-top: 54px;
    padding-right: 45px;
    padding-bottom: 46px;
    padding-left: 37px;
    margin-right: 34px;
    margin-bottom: 37px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    width: 270px;
    margin-left: 0;
    transition: all 0.2s ease;
}

.service-item:hover {
    box-shadow: 10px 40px 50px rgba(37, 50, 90, 0.3);

}

.service-item-img {
    margin-bottom: 22.4px;
}

.service-item-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 56px;
    color: #000000;
    margin-bottom: 1px;
}

.service-item-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    width: 266px;
}

.empty-link {
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    border-radius: 55px;
    padding: 13px 0;
    padding-left: 51px;
    padding-right:51px;
    color: #458FF6;
}

.empty-link:hover {
    box-shadow: 1px 1px 5px #ccc,
    -1px 1px 5px #ccc, -1px -1px 5px #ccc ,
    1px -1px 5px #ccc;
}
/* services end  */

/* second-intro start  */
.second-intro {
    margin-bottom: 266px;
}

.intro-part-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 229px;
}

.intro-part-left {

}

.intro-part-img1 {

}

.intro-part-right {
    margin-left: 142px;
}

.intro-part-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
    width: 481px;
    margin-bottom: 26px;
}

.intro-part-line {
    background: #000000;
    border-radius: 10px;
    width: 56px;
    height: 2px;
    border: none;
    margin-bottom: 31px;
}

.intro-part-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
    width: 450px;
    margin-bottom: 40px;
}

.intro-part-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* second-intro end  */

/* carousel star  */
.carousel {
    margin-bottom: 223px;
}

.carousel-card {
    border-radius: 24px;
    padding-top: 64px;
    padding-left: 122px;
    padding-right: 118px;
    padding-bottom: 83px;
    margin-bottom: 43px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
}

.carousel-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
    margin-bottom: 25px;
    text-align: center;
}

.carousel-line {
    background: #FFFFFF;
    border-radius: 6px;
    width: 56px;
    height: 2px;
    border: none;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
}

.carousel-left {
    align-items: center;
    display: flex;
}

.carousel-img {
    margin-right: 33px;
}

.carousel-username {
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
    width: 184px;
}

.carousel-user-position {
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.85);
}

.carousel-right {
    margin-right: 118px;
    margin-left: 110px;
}

.carousel-right-text {
    font-size: 19px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    color: rgba(255, 255, 255, 0.9);
    width: 420px;
    font-weight: normal;
}

.navigation {
    width: 277px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-img-left {
    transform: rotate(180deg);
}

.dots {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
}

.dot {
    opacity: 0.3;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #5B9BF3;
}

.navigation .active {
    opacity: 0.5;
}

.dots .active-dot {
    opacity: 1;
}
/* carousel end  */

/* article start  */
.article {
    margin-bottom: 201px;
}

.article-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
    margin-bottom: 26px;
    color: #000000;
}

.article-line {
    background: #000000;
    border-radius: 5px;
    width: 56px;
    height: 2px;
    margin: 0 auto;
    border: none;
    margin-bottom: 72px;
}

.article-parts {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 69px;
}

.article-item {
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;

}

.article-img {
    margin-bottom: 21px;
}

.article-parts-title {
    font-weight: bold;
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 12px;
    color: #000000;
    width: 251px;
}

.article-parts-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    width: 266px;
    margin-bottom: 25px;
}

.read-more {

}

.read-more-link {
    font-size: 17px;
    line-height: 28px;
    margin-right: 8px;
    color: #4089ED;
    font-weight: 600;
    transition: 0.1s ease;
}

.read-more-link:hover {
    font-size: 18px;
}

.article-padding {
    padding-left: 33px;
    padding-bottom: 35px;
}

.link {
    text-align: center;
}

.addition-to-link {
    font-size: 18px;
    line-height: 60px;
    padding: 13px 65px;
    color: #458FF6;
    text-align: center;
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    border-radius: 55px;
    font-weight: bold;
    transition: 0.1s ease;
}

.addition-to-link:hover {
    border-color: red;
    color: red;
    font-size: 19px;
}
/* article end  */

/* footer start  */
.footer {
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

.footer-main {
    justify-content: space-between;
    align-items: center;
    align-items: center;
    padding-top: 118px;
    padding-bottom: 109px;
    display: flex;
}

.footer-right-links {
    display: flex;
}

.footer-first {

}

.footer-logo-link:hover {
    opacity: 0.7;
}

.footer-logo-img {
    margin-bottom: 21px;
}

.footer-text1 {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    width: 391px;
    margin-bottom: 31px;
}

.footer-text2 {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

.footer-list {
    margin-left: 177px;
    list-style-type: none;
}



.footer-links {
    font-size: 18px;
    line-height: 38px;
    opacity: 0.7;
    color: #FFFFFF;
    font-weight: 300;
}

.footer-links:hover {
    opacity: 1;
}

.important-link {
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
    opacity: 1;
    color: #FFFFFF;
}

.important-link:hover {
    opacity: 0.7;
}
/* footer end  */